* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  src: url("./../../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

input, button, textarea, select {
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, i, button, input, label, textarea, p {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  z-index: 3;
}

.navigation-mobile {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  color: #e6e6e6;
}

.navigation-mobile-icon i {
  font-size: 2em;
}

.navigation-mobile-logo h5 {
  font-size: 2em;
}

.navigation-mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8% auto;
      grid-template-rows: 8% auto;
  background: #1C2023;
  color: #e6e6e6;
  display: none;
}

.navigation-mobile-menu-exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
}

.navigation-mobile-menu-exit i {
  width: 90%;
  font-size: 2em;
}

.navigation-mobile-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8%;
}

.navigation-mobile-menu-items-item {
  padding: 1.6em;
  margin-bottom: 1.6em;
  -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
}

.navigation-mobile-menu-items-item-icon i {
  font-size: 2em;
}

.navigation-mobile-menu-items-item-link a {
  font-size: 2em;
  color: #e6e6e6;
}

.navigation-mobile-menu-items-item:first-child {
  margin-top: 1.6em;
}

.navigation-desktop {
  display: none;
}

@media screen and (min-width: 500px) {
  .navigation-mobile-menu-items-item {
    width: 30%;
  }
}

@media screen and (min-width: 600px) {
  .navigation-mobile-menu-items-item {
    width: 20%;
  }
}

@media screen and (min-width: 767px) {
  .navigation-mobile {
    display: none;
  }
  .navigation-desktop {
    color: #1C2023;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 8vh;
    color: #e6e6e6;
  }
  .navigation-desktop-logo {
    width: 90%;
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-desktop-logo h3 {
    font-size: 2em;
    font-weight: 600;
  }
  .navigation-desktop-menu ul {
    height: 100%;
    width: 90%;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1em;
  }
  .navigation-desktop-menu ul li {
    text-align: end;
  }
  .navigation-desktop-menu ul li a {
    font-size: 1.6em;
    color: #e6e6e6;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    font-weight: 600;
  }
  .navigation-desktop-menu ul li a:hover, .navigation-desktop-menu ul li a:focus {
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .navigation-desktop-logo, .navigation-desktop-menu {
    width: 80%;
  }
}

.landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./../../images/landing-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  color: #e6e6e6;
}

.landing-mobile {
  width: 90%;
  margin: 0 auto;
}

.landing-mobile-header, .landing-mobile-text, .landing-mobile-button {
  position: relative;
  z-index: 1;
}

.landing-mobile-header h2 {
  font-weight: 500;
  font-size: 3.2em;
}

.landing-mobile-text {
  margin-top: 0.6em;
}

.landing-mobile-text p {
  font-size: 1.6em;
}

.landing-mobile-button {
  margin-top: 2.4em;
}

.landing-mobile-button a {
  padding: 0.6em;
  border-radius: 0.6em;
  font-size: 2em;
  background: #457B9C;
  color: #ffffff;
}

.landing-mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  background: #1C2023;
}

.landing-desktop {
  display: none;
}

@media screen and (min-width: 426px) {
  .landing {
    background: url("./../../images/landing-tablet.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .landing-mobile {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .landing {
    background: #ffffff;
  }
  .landing-mobile {
    display: none;
  }
  .landing-desktop {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("./../../images/landing-desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .landing-desktop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1C2023;
    opacity: 0.6;
  }
  .landing-desktop-header, .landing-desktop-content {
    position: relative;
    z-index: 1;
  }
  .landing-desktop-header {
    width: 50%;
  }
  .landing-desktop-header h1 {
    font-size: 4.8em;
    font-weight: 600;
    color: #ffffff;
  }
  .landing-desktop-content {
    width: 50%;
    margin-top: 1em;
  }
  .landing-desktop-content-form {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
  }
  .landing-desktop-content-form input {
    font-size: 2.4em;
    padding: 0.2em;
    border: 2px #ffffff solid;
    outline: none;
    color: #1C2023;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .landing-desktop-content-form input:focus {
    border: 2px #457B9C solid;
    background: #f2f2f2;
  }
  .landing-desktop-content-form button {
    font-size: 2.4em;
    margin-left: 0.4em;
    padding: 0.2em;
    border: 2px #457B9C solid;
    background: #457B9C;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .landing-desktop-content-form button:focus, .landing-desktop-content-form button:hover {
    background: #355f79;
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .landing-desktop {
    background: url("./../../images/landing-desktop.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .landing-desktop-header {
    width: 35%;
  }
  .landing-desktop-content {
    width: 35%;
  }
}
/*# sourceMappingURL=main.css.map */