.landing{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../../images/landing-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $white;
    color: darken($white, 10%);

    &-mobile{
        width: 90%;
        margin: 0 auto;

        &-header, &-text, &-button{
            position: relative;
            z-index: 1;
        }
        
        &-header{
            h2{
                font-weight: 500;
                font-size: $font-xxl;
            }
        }
        
        &-text{
            margin-top: 0.6em;
            p{
                font-size: $font-s;
            }
        }
        
        &-button{
            margin-top: 2.4em;
            a{
                padding: 0.6em;
                border-radius: 0.6em;
                font-size: $font-m;
                background: $blue-two;
                color: $white;
            }
        }

        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            opacity: 0.6;
            background: $black;
        }
    }

    &-desktop{
        display: none;
    }
}

@media screen and (min-width: 426px){
    .landing{
        background: url('./../../images/landing-tablet.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

        &-mobile{
            text-align: center;
        }
    }
}

@media screen and(min-width: 767px){
    .landing{
        background: $white;
        &-mobile{
            display: none;
        }
    }
}