.navigation{
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    z-index: 3;
    
    &-mobile{
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        color: darken($white, 10%);

        &-icon{
            i{
                font-size: $font-m;
            }
        }
        
        &-logo{
            h5{
                font-size: $font-m;
            }
        }

        &-menu{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            height: 100vh;
            width: 100%;
            display: grid;
            grid-template-rows: 8% auto;
            background: $black;
            color: darken($white,10%);
            display: none;
            
            &-exit{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: end;
                
                i{
                    width: 90%;
                    font-size: $font-m;
                }
            }
            
            &-items{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 8%;
                
                &-item{
                    padding: 1.6em;
                    margin-bottom: 1.6em;
                    align-self: center;
                    width: 40%;
                    display: grid;
                    grid-template-columns: 40% auto;
                    
                    &-icon{
                        i{
                            font-size: $font-m;
                        }
                    }
                    
                    &-link{
                        a{
                            font-size: $font-m;
                            color: darken($white, 10%);
                        }
                    }
                }
                
                &-item:first-child{
                    margin-top: 1.6em;
                }
            }            
        }
    }

    &-desktop{
        display: none;
    }
}

@media screen and (min-width: 500px){
    .navigation{
        &-mobile{
            &-menu{
                &-items{
                    &-item{
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px){
    .navigation{
        &-mobile{
            &-menu{
                &-items{
                    &-item{
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px){
    .navigation{
        &-mobile{
            display: none;
        }

        &-desktop{
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            
            &-logo{
                width: 80%;
                justify-self: end;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                h3{
                    font-size: $font-m;
                    font-weight: map-get($font-weight, "bold");
                }
            }

            &-menu{
                ul{
                    height: 100%;
                    width: 80%;
                    display: grid;
                    grid-template-columns: repeat(5,1fr);
                    gap: 0.5em;
                    align-items: center;
                    list-style: none;
                    text-align: center;
                    justify-content: end;
                    
                    li{
                        text-align: end;
                        
                        a{
                            font-size: $font-s;
                            transition: ease;
                            transition-duration: 250ms;
                            font-weight: map-get($font-weight, "bold");
                        }
                        
                        a:hover, a:focus{
                        }
                    }
                }
            }
        }
    }
}